.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #444e54;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 190, 245);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-[1700px] h-full;
  }

  .btn {
    @apply w-[40px] h-[40px] flex items-center justify-center rounded-full active:bg-dark_hover_1;
  }

  .p16 {
    @apply px-[16px];
  }

  .text-primary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }

  .text-secondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }

  .input {
    @apply w-full dark:bg-dark_bg_2 p-1.5 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
  }

  .conversations {
    height: calc(100vh - 220px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overflow_scrollbar {
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* =======> Animations <======= */
.rotateAnimation {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}
/* ============================ */
