.spin-button-none::-webkit-outer-spin-button,
.spin-button-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #444e54;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 190, 245);
}

.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeafa1;
  border-radius: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    width: calc(100% - 38px);
    max-width: 1600px;
  }

  .flex0030 {
    flex: 0 0 30%;
  }

  .btn {
    @apply w-[40px] h-[40px] flex items-center justify-center rounded-full active:bg-dark_hover_1;
  }

  .p16 {
    @apply px-[16px];
  }

  .text-primary {
    font-size: 16px;
    line-height: 21px;
    @apply text-dark_text_1;
  }

  .text-secondary {
    font-size: 14px;
    line-height: 19px;
    @apply text-dark_text_2;
  }

  .input {
    @apply w-full dark:bg-dark_bg_2 p-1.5 dark:text-dark_text_1 rounded-lg flex-1 outline-none;
  }

  .conversations {
    height: calc(100vh - 220px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overflow_scrollbar {
    height: calc(100vh - 120px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .online {
    border: 2px solid #00a884;
  }

  .hview {
    height: calc(100vh - 280px);
    padding: 8px 0;
  }
}

/* =======> Animations <======= */
.rotateAnimation {
  animation: rotate 0.3s forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(-90deg);
  }
}
/* ============================ */
.epr-dark-theme {
  background: #202c33 !important;
  border-radius: 0 !important;
  border: none !important;
}
.epr-dark-theme {
  width: 100% !important;
}
.openEmojiAnimation {
  animation: openAn 0.1s forwards;
}
@keyframes openAn {
  0% {
    transform: translateY(60px);
  }
}
.epr-search-container input {
  background: #222e35 !important;
  border-radius: 0 !important;
  border: none !important;
  font-size: 13px;
}
.epr-preview {
  display: none !important;
}
.epr-emoji-category-label {
  background: transparent !important;
  font-size: 15px;
  font-weight: normal !important;
}
.epr-body::-webkit-scrollbar {
  width: 6px !important;
}

.epr-body::-webkit-scrollbar-track {
  background: transparent !important;
}

.epr-body::-webkit-slider-thumb {
  background: #444e54 !important;
}

.epr-category-nav {
  padding: 10px 0 !important;
}
.epr-category-nav .epr-active::after {
  content: '';
  width: 140px;
  height: 4px;
  background: #00a884;
  position: absolute;
  bottom: -10px;
  left: -55px;
}
.epr-header {
  display: flex;
  flex-direction: column-reverse;
}
.openToolsAnimation {
  animation: openTools 0.2s forwards;
}
@keyframes openTools {
  0% {
    transform: translateY(100%);
  }
}
